body {

	font-family: arial, helvetica;
	background: white;
}




.Navegacion {
      width: 1000px;
      margin: 30px auto;
  

}

.Navegacion ul{
	list-style: none;

}
.Menu {

	list-style: none;
	padding: 0;
	background: green;
	width: 90%;
	max-width: 800px;
	margin: auto;

}
.Menu > li {

	display: inline-block;
	text-align: center;


}

.Menu > li > a {

	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}




.Menu li a:hover{
     background: gray;
     transition: all .3s;


}

.Submenu {

	position: absolute;
	background: green;
	display: none;
	width: 120px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;

}

.Submenu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;

}

.Menu li:hover .Submenu {

 display: block;
visibility: visible;
opacity: 1;

}

