* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, helvetica;
}

/*======= HEADER =========*/

.header{
	width: 100%;
	height: auto;
}
.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.caja-logo{
	width: 100px;
	height: 100px;
	background-image: url(../Imagenes/logo.png);
	background-size: cover;
}

/*======= NAV RESPONSIVE =========*/
.nav-responsive {
	display: none;
	width: 100%;
	height: 400px;
	background-color: green;
}

.fa-bars {
	color: green;
	cursor: pointer;
	margin-right: 20px;
	font-size: 30px; 
}

.menu-bars {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	height: 100%;
	padding: 10px 0;
}

.menu-bars>a, .menu-bars>li {
	list-style: none;
	margin: 10px 0;
	border-bottom: 1px solid white;
	width: 100%;
}

.menu-bars>li ul {
	background-color: darkgreen;
	margin: 10px 0;
	transform: translateX(-5px);
}

.menu-bars>li ul a li {
	transform: translateX(30px);
}

.menu-bars>li ul a:last-child li{
	padding: 20px;
}

.menu-bars a, li{
	text-decoration: none;
	color: white;
	padding-left: 10px;
}

.menu-reaparece {
	display: block;
}
/*======= NAV =========*/
.Navegacion {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.Menu {
	list-style: none;
	padding: 0;
	background: green;
	width: 90%;
	max-width: 800px;
	margin: auto;
	display: none;
}

.Menu>li {

	display: inline-block;
	text-align: center;


}

.Menu>li>a {

	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}




.Menu li a:hover {
	background: gray;
	transition: all .3s;


}

.Submenu {
	position: absolute;
	background: green;
	display: none;
	width: 200px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.Submenu li {
	list-style: none;
	padding: 0;
}

.Submenu li a {
	color: white;
	display: block;
	width: 100%;
	padding: 20px 0;
	text-decoration: none;

}

.Menu li:hover .Submenu {

	display: block;
	visibility: visible;
	opacity: 1;

}


/*===== IMAGEN DEL CUERPO ======*/
.div-img {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.div-img img {
	width: 100%;
	object-fit: cover;
}

@media screen and (min-width: 700px){
	.header-container{
		justify-content: center;
	}

	.caja-logo{
		width: 150px;
		height: 150px;
	}

	.nav-responsive {
		display: block;
		height: auto;
	}

	.menu-bars, .fa-bars{
		display: none;
	}
	
	.Menu{
		display: block;
	}

}